<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ma page de carte Bootstrap centrée</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS Bootstrap -->
  <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card text-center">
        <div class="card-header">
          <h5 class="card-title">Titre de la carte</h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Test</li>
            <li class="list-group-item">Test</li>
            <li class="list-group-item">Test</li>
            <li class="list-group-item">Test</li>
            <li class="list-group-item">Test</li>
            <li class="list-group-item">Test</li>
            <li class="list-group-item">Test</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
